video {
    object-fit: cover;
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
}

.honeypot-field,
.thankyou_message {
    display: none;
}

header h1 {
    margin: 100px 0 150px 0;
}

.img-thumbnail {
    width: 150px;
}
