video.full-page,
figure video,
img.thumbnail,
img.full-page {
    border-radius: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
}

figure video {
    width: 180px;
}

img.thumbnail {
    width: 110px;
}

video.full-page,
img.full-page {
    max-width: 750px;
}

ul.albums > li {
  background-color: #F5DABF;
}

figcaption, p {
    color: #FFFFFF;
}

figcaption {
    text-align: center;
}

.image-container {
    display: flex;
    flex-flow: row wrap;
}

.image-slide {
    flex: none;
    margin-right: 10px;
}

.image-slide figure {
    margin: 0;
    padding: 0;
}

.media-btn {
  padding: 4px 8px;
}

.media-btn i {
  font-size: 0.8em;
}

.progress-bar {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: inherit;
  background-color: transparent;
  z-index: 5;
  pointer-events: none;
}

.progress-bar > span {
  background-color: rgba(0, 0, 255, 0.35);
  border-radius: 2px;
  display: block;
  height: inherit;
  pointer-events: none;
  color: white;
  text-align: right;
}

.input-group.uploader {
    margin: 10px 0;
}
